<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todo.Hiplanner.mapper.MemberMapper">
    <select id="getCnt2" resultType="int" parameterType="com.todo.Hiplanner.vo.Member">
        select
               count(*)
        from
             member
        where
              id =#{id}
              and pwd = #{pwd}
    </select>
    <insert id="insertMember" parameterType="com.todo.Hiplanner.vo.Member">
        insert into MEMBER
        values(#{id},#{name},#{pwd},#{job},#{mail},#{phone},#{gender})
    </insert>
    <select id="CheckId" resultType="int" parameterType="com.todo.Hiplanner.vo.Member">
        select count(*) from member where id = #{id}
    </select>
</mapper>


