<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todo.Hiplanner.mapper.MessageMapper">
    <insert id="sendMessage" parameterType="com.todo.Hiplanner.vo.Message">
        INSERT INTO MESSAGE(MES_NO, MES_CON, SEND_ID, RECV_ID)
        VALUES((SELECT COUNT(DISTINCT MES_NO)+1 FROM MESSAGE),#{mes_con},#{send_id},#{recv_id})
    </insert>
    <select id="selectMessages" parameterType="com.todo.Hiplanner.vo.Message" resultType="com.todo.Hiplanner.vo.Message">
        SELECT
            MES_NO, MES_CON, READ_CHECK, SEND_ID, RECV_ID
        FROM
            MESSAGE
        WHERE
                RECV_ID = #(recvId} AND ISSHOW='Y'
        ORDER BY
            CREATEDAT DESC
    </select>
    <select id="detailMessage" parameterType="com.todo.Hiplanner.vo.Message" resultType="com.todo.Hiplanner.vo.Message">
        SELECT
            MES_NO, MES_CON, CREATEAT, READ_CHECK, SEND_ID
        FROM
            MESSAGE
        WHERE
            MES_NO = #{mesNo}
    </select>
    <update id="deleteMessage" parameterType="com.todo.Hiplanner.vo.Message">
        UPDATE MESSAGE SET ISSHOW='N'
        WHERE SEND_ID=#{sendId} AND MES_NO=#{mesNo}
    </update>
</mapper>