<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todo.Hiplanner.mapper.MessageMapper">
    <insert id="sendMessage" parameterType="com.todo.Hiplanner.vo.Message">
        INSERT INTO MESSAGE(MES_NO, MES_CON, SEND_ID, RECV_ID)
        VALUES((SELECT COUNT(DISTINCT MES_NO)+1 FROM MESSAGE),#{mesCon},#{sendId},#{recvId})
    </insert>
    <select id="selectMessages" parameterType="com.todo.Hiplanner.vo.Message" resultType="com.todo.Hiplanner.vo.Message">
        select
           mes_no, mes_con, read_check, send_id, recv_id, createAt
        from
            message
        where
            recv_id=#{recvId} and isshow='Y'
        ORDER BY
            createAt desc
    </select>
    <select id="detailMessage" parameterType="com.todo.Hiplanner.vo.Message" resultType="com.todo.Hiplanner.vo.Message">
        select
            mes_no, mes_con, createAt, read_check, send_id
        from
            ( select
                  mes_no, mes_con, read_check, send_id, recv_id,createAt
              from
                  message
              where
                  recv_id=#{recvId} and isshow='Y'
              order by
                  createAt desc
            )
        where
            mes_no = #{mesNo}
    </select>
    <update id="deleteMessage" parameterType="com.todo.Hiplanner.vo.Message">
        update message set isshow='N'
        where send_id=#{sendId} and mes_no=#{mesNo}
    </update>
</mapper>