<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todo.Hiplanner.mapper.PlannerMapper">

    <select id="getMemo" resultType="com.todo.Hiplanner.vo.Memo" parameterType="com.todo.Hiplanner.vo.Memo">
        SELECT TITLE, CONTENT, WDATE, BEGIN, END, PLANNO
        FROM MEMO WHERE USERNAME = #{username} AND BEGIN = #{begin}
    </select>
    <insert id="insertMemo" parameterType="com.todo.Hiplanner.vo.Memo">
        INSERT INTO MEMO(DO_NUM, TITLE, CONTENT, USERNAME, BEGIN, END, PLANNO) VALUES(
        MEMO_NUM.NEXTVAL, #{title}, #{content}, #{username}, #{begin}, #{end}, (SELECT COUNT(DISTINCT PLANNO)+1 FROM MEMO))
    </insert>
    <select id="getMemoDetail" resultType="com.todo.Hiplanner.vo.Memo" parameterType="com.todo.Hiplanner.vo.Memo">
        SELECT TITLE,CONTENT, WDATE ,BEGIN, PLANNO
        FROM MEMO WHERE USERNAME = #{username} AND PLANNO= #{planno}
    </select>
    <delete id="deleteMemo" parameterType="com.todo.Hiplanner.vo.Memo">
        DELETE FROM MEMO WHERE USERNAME=#{username} AND PLANNO=#{planno}
    </delete>
    <update id="updateMemo" parameterType="com.todo.Hiplanner.vo.Memo">
        UPDATE MEMO SET TITLE=#{title}, CONTENT=#{content}
        WHERE USERNAME=#{username} AND PLANNO=#{planno}
    </update>
</mapper>