<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todo.Hiplanner.mapper.plannerMapper">

    <select id="getMemo" resultType="com.todo.Hiplanner.vo.Memo" parameterType="com.todo.Hiplanner.vo.Memo">
        select do_num, title, content, wdate, begin,end
        from memo where id = #{id} and begin = #{begin}
    </select>
    <insert id="insertMemo" parameterType="com.todo.Hiplanner.vo.Memo">
        INSERT INTO MEMO(DO_NUM, TITLE, CONTENT, ID, begin, end) VALUES(
            MEMO_NUM.NEXTVAL, #{title}, #{content}, #{id}, #{begin}, #{end})
    </insert>
    <select id="getMemoDetail" resultType="com.todo.Hiplanner.vo.Memo" parameterType="com.todo.Hiplanner.vo.Memo">
        select title, content, wdate, begin
        from memo where id = #{id} and do_num = #{do_num}
    </select>

</mapper>